@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");

body {
  background-image: url(./imagens/pexels-victorino-2771080.jpg);
}

h1 {
  position: absolute;
  font-size: 5.5em !important;
  color: #fff !important;
  top: 32.5%;
  left: 22.5%;
  transform: translate(-50%, -50%) !important;
  text-transform: uppercase !important;
  font-family: "DM serif Text" !important;
  font-style: italic !important;
}

.btn-custom {
  background-color: white !important;
  color: #808080 !important;
  padding: 12px 24px !important; /* Aumentando o tamanho do botão */
  font-size: 1.1rem !important; /* Aumentando a fonte um pouco */
  position: absolute;
  top: 70%;
  left: 22.5%;
  transform: translate(-50%, -50%);
}

.btn-custom:hover {
  background-color: #f0f0f0 !important; /* Cinza claro no hover */
  color: #606060 !important; /* Tom mais escuro no hover */
}

.form-container {
  max-width: 500px;
  padding: 20px;
  border-radius: 12px;
  background-color: #fff176 !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border: 3px solid #009e60 !important;
}

.form-control {
  border: 2px solid #002776 !important;
  border-radius: 8px !important;
}

.btn-brasil {
  background-color: #009e60 !important;
  color: white;
  border: none;
  font-weight: bold !important;
  border-radius: 8px;
}

.btn-brasil:hover {
  background-color: #007a4d;
}

.form-label {
  color: #002776;
  font-weight: bold;
}
